* {
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
  color: white;
}

body {
  background-image: url("https://raw.githubusercontent.com/Thersis94/API-Hack/master/Background.jpg");
  background-attachment: fixed;
  background-repeat: no-repeat;
}

legend {
  font-size: 2em;
}

.page-name {
  display: block;
  margin: 1vw;
  text-align: center;
  font-family: 'Elsie', cursive;
  font-size: 10vw;
  cursor: pointer;
}

.fieldset {
  margin: 0 2vw 0 2vw;
}

.search-bar {
  display: block;
}

.search-label {
  display: flex;
  width: 100%;
  font-size: 5vw;
  margin: 0 0 1vw 0;
}

.search {
  display: flex;
  position: relative;
}

.search-input {
  width: 82%;
  height: 10vw;
  border-radius: 5px 0 0 5px;
  border: 1px solid black;
  color: black;
  font-size: 6vw;
  margin: 1vw 0 1vw 0;
}

.search-button {
  width: 18%;
  height: 10vw;
  border-radius: 0 5px 5px 0;
  margin: 1vw 0 1vw 0;
  border: 1px solid black;
  cursor: pointer;
  color: black;
}

.drink-selectors {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.flex-left {
  appearance: none;
  display: flex;
  flex-direction: column;
}

.flex-right {
  appearance: none;
  display: flex;
  flex-direction: column;
}

.drink-icons {
  height: 40vw;
  width: 30vw;
  border: solid black 2px;
  display: flex;
  justify-content: center;
}

.drink-icon-img {
  height: 100%;
  width: 100%;
  filter: grayscale(100%);
  cursor: pointer;
}

#vodka-pic {
  border: 4px solid #AE3D3F;
}

#gin-pic {
  border: 4px solid #13055C;
}

#whiskey-pic {
  border: 4px solid #DC620C;
}

#tequila-pic {
  border: 4px solid #6CAA2D;
}

.grey {
  filter: grayscale(0%);

}

.display-ing-list {
  height: 7vw;
  margin: 1vw;
  display: flex;
  justify-content: center;
}

.ing-item {
  margin: 1vw 10vw 1vw 10vw;
  font-size: 2em;
  background:black;
}

#ing-list-button {
  color: black;
  height: 7vw;
  font-size: 1em;
  border-radius: 5px;
  border: 1px solid black;
  color: black;
  margin: 1vw 0 1vw 0;
  cursor: pointer;
}

.back-button-div {
  display: flex;
  justify-content: center;
}

#go-back {
  color: black;
  height: 8vw;
  font-size: 1em;
  border-radius: 5px;
  border: 1px solid black;
  color: black;
  margin: 4vw 0 0vw 0;
}

.title {
  color: black;
  position: absolute;
  text-shadow: 1px 1px grey;
  font-size: 2em;
  text-align: center;
}

input[type='checkbox'] {
  position: absolute;
  display: none;
}

.drink-span {
  margin: 2vw;
  display: flex;
  justify-content: center;
  position: relative;
  text-align: center;
  color: black;
}

.results-drink-name {
  width: 80%;
  position: absolute;
  color: black;
  text-shadow: 1px 1px grey;
  font-size: 1.8em;
  cursor: pointer;
}

.results-drink-pic {
  margin: 1vw;
  height: 80%;
  width: 80%;
  cursor: pointer;
}

.item-page {
  margin: 5vw;
  display: flex;
  flex-direction: column;
}

.drink-pic {
  margin: auto;
  height: 50%;
  width: 50%;
}

.text-background {
  margin: 1vw;
  padding: 1vw;
  background-color: black;
}

@media screen and (min-width: 800px) {
  body {
      background-size: cover;
  }
  .search-results {
      width: 100%;
  }
  .page-name {
      margin: 0 10vw 1vw 10vw;
      font-size: 10em;
  }
  .fieldset {
      margin: 1vw 10vw 1vw 10vw;
  }
  .search-label {
      display: flex;
      width: 100%;
      font-size: 3vw;
      margin: 0 0 1vw 0;
  }
  .search {
      display: flex;
      justify-content: center;
      position: relative;
  }
  .search-input {
      width: 60%;
      height: 3vw;
      border-radius: 5px 0 0 5px;
      border: 1px solid black;
      color: black;
      font-size: 2vw;
      margin: 1vw 0 1vw 0;
  }
  .search-button {
      width: 8%;
      height: 3vw;
      border-radius: 0 5px 5px 0;
      margin: 1vw 0 1vw 0;
      border: 1px solid black;
      cursor: pointer;
      color: black;
  }
  .drink-selectors {
      display: flex;
      flex-direction: row;
      justify-content: center;
  }
  .flex-left {
      appearance: none;
      display: flex;
      flex-direction: row;
  }
  .flex-right {
      appearance: none;
      display: flex;
      flex-direction: row;
  }
  .drink-icons {
      height: 20vw;
      width: 15vw;
      border: solid black 2px;
      position: relative;
      display: flex;
      justify-content: center;
  }

  #ing-list-button {
      color: black;
      height: 3vw;
      font-size: 1em;
      border-radius: 5px;
      border: 1px solid black;
      color: black;
      margin: 1vw 0 1vw 0;
      cursor: pointer;
  }

  #go-back {
      height: 3vw;
  }
  
  .title {
      color: black;
      position: absolute;
      text-shadow: 1px 1px grey;
      font-size: 2em;
      text-align: center;
  }
  .drink-span {
      height: 20vw;
      width: 20vw;
      text-align: center;
      color: black;
  }
  .results-drink-name {
      width: 100%;
      margin: 0;
      position: absolute;
      left: 0px;
      top: 2vw;
      color: black;
      text-shadow: 1px 1px grey;
      font-size: 1.8em;
  }
  .results-drink-pic {
      height: 100%;
      width: 100%;
  }
  .drink-span {
      float: left;
  }
  .drink-pic {
      margin: 1vw 0 1vw 3vw;
  }
  .item-page {
      margin: 5vw;
      display: flex;
      flex-direction: row;
  }
}